CMakeCache.txt
cmake_install.cmake
Makefile
*.xcodeproj
.ninja_deps
.ninja_log
build.ninja
Game/
Testing/
bin/
sgg
build/
.cmake/
*.swp
.idea/
Tutorial.sln
CMakeFiles/
Tutorial/x64
.DS_Store
*/*.vcxproj
*/*.vcxproj.filters
*/*.vcxproj.user
.vscode